[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
email-validator = "*"
flask = "*"
flask-babel = "*"
flask-bcrypt = "*"
flask-bootstrap = "*"
flask-caching = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
maya = "*"
psycopg2 = "*"
pyjwt = "*"
python-dotenv = "*"
redis = "*"
rollbar = "*"
rq = "*"
secure = "*"

[dev-packages]
eralchemy = "*"
factory-boy = "*"
flask-shell-ipython = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
"testing.postgresql" = "*"
types-flask = "*"
types-redis = "*"
webtest = "*"

[requires]
python_version = "3.9"
