[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-babel = "*"
flask-bcrypt = "*"
flask-bootstrap = "*"
flask-caching = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
maya = "*"
psycopg2 = "*"
pyjwt = "*"
python-dotenv = "*"
rollbar = "*"
secure = "*"
pyyaml = "==4.2b4"

[dev-packages]
factory-boy = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"

[requires]
python_version = "3.6"
