{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Edit Profile') }}</h1>
    <form id="editProfileForm" class="form form-edit-profile" method="post" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(class_="form-control") }}<br>
        </div>
        <div class="form-group">
            {{ form.first_name.label }}<br>
            {{ form.first_name(class_="form-control") }}<br>
        </div>
        <div class="form-group">
            {{ form.last_name.label }}<br>
            {{ form.last_name(class_="form-control") }}<br>
        </div>
        <div class="form-group">
            {{ form.locale.label }}<br>
            {{ form.locale(class_="form-control") }}<br>
        </div>
        <p>{{ form.submit(class_="btn btn-default btn-submit") }}</p>
    </form>
{% endblock %}
